{{#article}}
    <form class="container" action="" method="post">
        <input type="text" class="form-control" name="title" value="{{title}}">
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
        <a href="/articles/{{id}}">Back</a>
    </form>
{{/article}}